[Unit]
Description=Service for mirroring git repositories
Requires=sould-gitd.service

[Service]
ExecStart=/usr/bin/sould
Restart=always

[Install]
WantedBy=multi-user.target
